{% load static from staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OndeComer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body id="app">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Onde Comer</a>
                </div>

                <div class="collapse navbar-collapse navbar-right" id="menu">
                    {% if user.is_authenticated %}
                        <a href="" class="btn btn-default navbar-btn">
                            {{ user.username }}
                        </a>
                        <a href="{% url 'logout' %}?next={{ home }}" class="btn btn-primary navbar-btn">Salir</a>
                    {% else %}
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-default navbar-btn">Login with Facebook</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Encuentra el mejor lugar para comer</h3>
                </div>

                <div class="col-sm-6 buscador-home">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button id="city" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Elige ciudad <span class="caret"></span></button>
                            <ul class="dropdown-menu" id="ciudad">
                                {% for city in cities %}
                                    <li><a href="#" id="{{ city.id }}">{{ city.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <input id="buscador" type="text" class="form-control" aria-label="..." placeholder="Encuentra tu restaurant favorito">
                    </div>
                </div>
            </div>

            <div class="row contenido-home">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Tipo de comida</label>
                        {% for category in categories %}
                            <div class="checkbox">
                                <label for="">
                                    <input type="checkbox" class="categoria" id="{{ category.id }}"> {{ category.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="">Formas de pago</label>
                        {% for payment in payments %}
                            <div class="checkbox">
                            <label for="">
                                <input type="checkbox" class="pago" id="{{ payment.id }}"> {{ payment.pay }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="list-group">
                        
                    </div>
                </div>
            </div>
        </div>

        <script type='text/template' id='tpl-restaurant'>
            <a href="" class="list-group-item">
                <div class="col-sm-3">
                    <img src="<%= image %>" alt="" class="media-object img-rounded img-responsive">
                </div>
                <div class="col-sm-6">
                    <h3><%= name %></h3>
                    <p><%= description %></p>
                </div>
                <div class="col-sm-3 text-center">
                    <h2><%= tips %> <small>tips</small></h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Ver detalle</button>
                </div>
            </a>
        </script>
        <script>
            window.state = false;
            window.cantidad = 5;
            window.ciudad = -1;
            window.categoria = -1;
            window.pago = -1;
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.11.2.min.js" %}"><\/script>')</script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/underscore.min.js' %}"></script>
        <script src="{% static 'js/vendor/backbone.min.js' %}"></script>

        <script src="{% static 'js/backbone/models/models.js' %}"></script>
        <script src="{% static 'js/backbone/collections/collections.js' %}"></script>
        <script src="{% static 'js/backbone/views/views.js' %}"></script>
        <script src="{% static 'js/backbone/routers/routers.js' %}"></script>
        <script src="{% static 'js/backbone/app.js' %}"></script>
        
    </body>
</html>
